<form action="/post/new" method="POST" class="new_form">
Title:<br>
<input name="post[title]" type="text"><br>
Text:<br>
<textarea name="post[text]"></textarea><br>
<input type="submit" value="Submit your post.">
</form>
