<form action="/login" method="POST">
  Name:<br>
  <input type="text" name="user[name]"><br>
  Password:<br>
  <input type="password" name="user[password]"><br>
  <input type="submit" value="Login">
</form>
<div class="signup">
<a href="/signup">Sign Up as a New User</a>
</div>
