<div class="error_display<div class="error_display">
  <%= display_error %>
</div>">
  <%= display_error %>
</div>

<form action="/signup" method="POST">
Name:<br>
<input name="user[name]" type="text"><br>
Password:<br>
<input type="password" name="user[password]"><br>
Password:<br>
<input type="password" name="user[password_confirmation]"><br>
<input type="submit" value="Sign Up">
</form>
