
<div id="piano_instructions">
You can play notes A-G of a piano by pressing the respective letter keys on your keyboard!
</div>
<br>
<div id="notes">
Notes Played:
</div>

<!-- Audio of the notes below -->

</audio><audio id="A">
  <source src="/js/piano/audio/a.wav" type="audio/wav">

</audio><audio id="B">
  <source src="/js/piano/audio/b.wav" type="audio/wav">

</audio><audio id="C">
  <source src="/js/piano/audio/c.wav" type="audio/wav">

</audio><audio id="D">
  <source src="/js/piano/audio/d.wav" type="audio/wav">

</audio><audio id="E">
  <source src="/js/piano/audio/e.wav" type="audio/wav">

</audio><audio id="F">
  <source src="/js/piano/audio/F.wav" type="audio/wav">

</audio><audio id="G">
  <source src="/js/piano/audio/G.wav" type="audio/wav">

